*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --empty-cell-hit-color: red;
  ---cell-with-ship-hit-color: rgb(165, 92, 92);
  --side-gap: 25vw;
}

@font-face {
  font-family: "Plus Jakarta-sans Regular";
  src: url('./fonts/PlusJakartaSans-Regular.ttf');
}

@font-face {
  font-family: "Plus Jakarta-sans Medium";
  src: url('./fonts/PlusJakartaSans-Medium.ttf');
}

@font-face {
  font-family: "Plus Jakarta-sans SemiBold";
  src: url('./fonts/PlusJakartaSans-SemiBold.ttf');
}

body {
  font-family: "Plus Jakarta-sans Regular";
}

header {
  font-family: "Plus Jakarta-sans Medium";
  padding: 1rem var(--side-gap);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.board-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 5rem;
  margin: 4vh 1.3rem;
}

.board-container h2 {
  font-family: "Plus Jakarta-sans Medium";
  text-align: center;
  margin-bottom: 1rem;
}

.board-left,
.board-right {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell {
  outline: solid 1px black;
  padding: 1rem;
  cursor: pointer;
  background-color: #fff;
}

.button-container {
  display: flex;
}

.status-container {
  display: none;
}

.button-container,
.status-container {
  justify-content: center;
  align-content: center;
}

#start-button {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Plus Jakarta-sans Semibold";
  font-weight: 700;
  background-color: #fff;
  border: solid 1px black;
  border-radius: 4px;
  line-height: 1.5;
}

#start-button:hover {
  background-color: #dcdcdc;
}

#status {
  padding: 1rem 4px 1rem 1rem;
  font-size: 1.1rem;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#retry-link-button {
  font-size: 1rem;
  padding: 1rem 1rem 1rem 0;
  line-height: 1.5;
  display: none;
}

#retry-link-button:visited {
  color: blue;
}