*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --empty-cell-hit-color: red;
  ---cell-with-ship-hit-color: rgb(165, 92, 92);
  --side-gap: 25vw;
}

@font-face {
  font-family: "Plus Jakarta-sans Regular";
  src: url('./fonts/PlusJakartaSans-Regular.ttf');
}

@font-face {
  font-family: "Plus Jakarta-sans Medium";
  src: url('./fonts/PlusJakartaSans-Medium.ttf');
}

@font-face {
  font-family: "Plus Jakarta-sans SemiBold";
  src: url('./fonts/PlusJakartaSans-SemiBold.ttf');
}

body {
  font-family: "Plus Jakarta-sans Regular";
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: "Plus Jakarta-sans Medium";
  padding: 1rem var(--side-gap);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

header img {
  width: 3vw;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.board-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 5rem;
  margin: 4vh 1.3rem;
}

.board-container h2 {
  font-family: "Plus Jakarta-sans Medium";
  text-align: center;
  margin-bottom: 1rem;
}

.board-left,
.board-right {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell {
  outline: solid 1px black;
  padding: 1rem;
  cursor: pointer;
  background-color: #fff;
}

.button-container {
  display: flex;
}

.status-container {
  display: none;
}

.button-container,
.status-container {
  justify-content: center;
  align-content: center;
}

#start-button {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
}

#start-button:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);
}

#start-button:focus-visible{
  outline-offset: 1px;
}

#status {
  padding: 1rem 4px 1rem 1rem;
  font-size: 1.1rem;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#retry-link-button {
  color: blue;
  font-size: 1rem;
  padding: 1rem 1rem 1rem 1px;
  line-height: 1.5;
  display: none;
  text-decoration: none;
}

#retry-link-button:hover {
  color: rgb(66, 66, 163);
}